@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overscroll-behavior-y: none;
}

:root {
  --blur: 3;
  --help: 0px;
  color-scheme: dark;
}

body[data-help="true"] {
  --help: 1px;
}

body {
  background: #030039;
  background: radial-gradient(circle, #030039 0%, #21004b 50%, #370040 100%);
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  user-select: none;
  color: #FFFFFF;
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  touch-action: pan-x pan-y;
}

mark {
  background-color: #5fff598c;
}

.glass {
  background: rgba(255, 255, 255, .2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
  backdrop-filter: blur(5px);
  border: 2px solid rgba(255, 255, 255, .3);
}

#wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

#title,
#subbox,
#share {
  font-size: 24px;
  padding: 10px;
}

#subwrap {
  display: flex;
  gap: 6px;
  transition: opacity 150ms;
}

#duck {
  transition: text-shadow 100ms;
}

body:not([data-subtitle=""]) #duck {
  text-shadow:
  0 0 1px #FFFFFF50,
  -1px -1px 1px #FFFFFF50,
  -1px 1px 1px #FFFFFF50,
  1px 1px 1px #FFFFFF50,
  1px -1px 1px #FFFFFF50;
}

#share {
  position: fixed; /* animation hack */
  opacity: 0;
  border-color: rgba(0, 255, 0, .4);
  background: rgba(60, 255, 0, .3);
  transition: background 100ms, border 30ms, opacity 200ms, transform 40ms;
  pointer-events: none;
}

body[data-app-focused="true"] #share {
  border-color: rgba(0, 255, 0, .6);
}

body[data-share="true"] #share {
  position: static;
  opacity: 1;
  pointer-events: all;
}

#share:hover {
  background: rgba(60, 255, 0, .4);
}

#share:active {
  transform: scale(.9);
}

#gamewrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#perspective {
  perspective: 1000px;
}

#imagewrap {
  display: grid;
  grid-template-columns: 1fr;
  transition: transform 600ms;
  transform-style: preserve-3d;
}

#imagewrap > div,
#guess {
  width: 300px;
  height: 300px;
  padding: 20px;
}

#imagewrap > div {
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  grid-row-start: 1;
  grid-column-start: 1;
}

body[data-help="true"] #imagewrap {
  transform: rotateY(180deg);
}

#help {
  transform: rotateY(180deg);
}

#helptext {
  font-size: 15px;
}

#pipipear {
  color: #FFFFFF;
  font-style: italic;
  background-color: #000000;
  opacity: .6;
  transition: opacity 150ms;
}

#pipipear:hover {
  opacity: 1;
}

#image > img {
  pointer-events: none; /* firefox */
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  filter: blur(calc((var(--blur) * 4px) - 3px + var(--help)));
  transition: filter 200ms, opacity 700ms;
}

body[data-help="true"] #image > img {
  opacity: 0;
}

#guessbox {
  position: relative;
}

#guess {
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: border 80ms;
}

.row {
  display: flex;
  /* height: 100%; */
  flex-grow: 1;
  gap: 8px;
}

.row > div {
  /* width: 100%; */
  flex-grow: 1;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
  border: 2px solid rgba(255, 255, 255, .3);
  display: table;
  transition: border 500ms;
}

.focused > div {
  border-color: rgba(255, 255, 255, .6);
}

.focused > .filled {
  border-color: rgba(255, 255, 255, .8);
}

body[data-app-focused="true"] #guess {
  border-color: rgba(255, 255, 255, .5);
}

body[data-state="won"] #guess {
  border-color: rgba(95, 255, 89, .7);
}

body[data-state="lost"] #guess {
  border-color: rgba(255, 255, 255, .3);
}


.row > div > div {
  font-size: 36px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  transition: color 500ms;
}

.correct > .filled {
  border-color: #5fff59;
}

.correct > .filled > div {
  color: #5fff59;
}

.incorrect > .filled > div {
  color: #ffffff55;
}

.invalid {
  animation: shake 600ms;
}

.pop {
  animation: pop 100ms;
}

.hide {
  opacity: 0;
}

#vkb {
  position: absolute;
  border: none;
  outline: none;
  padding: 0;
  opacity: 0.1; /* safari won't scroll to 0 opacity inputs */
  background: transparent;
  pointer-events: none;
}

@keyframes pop {
  0% {
    transform: scale(0.9);
    opacity: 0.5;
  }

  40% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}


/* firefox */
@-moz-document url-prefix() {
  #imagewrap {
    backface-visibility: hidden;
  }
}
